.body_content{
  background: linear-gradient(rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url(../img/678.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
.collection-header{
  background: none;
}
html {
  /* font-family: GillSans, Calibri, Trebuchet, sans-serif; */
}
.form_badge{
  padding: 5px;
  border-radius: 3px;
  position: absolute;
}
.form_badge2{
  position: absolute;
  right: 0;
  
}
.dash_badge{
  padding: 5px;
  border-radius: 3px;
  width: 40%;
  margin: auto;
  border: 1px solid #ff6d00;
}
#applicant_table{
  display: block;
}
.approve_deny_btn{
  margin: 20px;
}
.table_links{
  text-decoration: underline;
}
.table_links:hover{
  color: orange;
}
.home_logo{
  width: 20%;
}

.container li .preview{
  margin-left: 50px;
  float: right;
  cursor: pointer;
  text-decoration: underline;
  color: #4d4d4d;
}

.card_font{
  font-size: 1.2em;;
}

.parallax_text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.align_center{
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.create_icon:hover{
  color: white;
}

.footer_link{
  color: #000000;
}